@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Play:wght@400;700&display=swap');
*{
    font-family: "Play", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #333;
}
body{
    background-image: linear-gradient(to right,#3a7bd5,#3a6073);
    background-repeat: no-repeat;
    font: normal 1em;
    height: 95vh;
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
div{
    padding: 5px;
}
div#show{
    border: 2px solid black;
}
.btn-home a:link,
.btn-home a:visited{
    color: inherit;
    text-decoration: none;
}